<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vislab - Lab 2(b)</title>
    <link rel="icon" type="image/x-icon" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Flink_6928929&psig=AOvVaw3IfV4rImSKCDBL9qLnO__g&ust=1742190543876000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNjshtjzjYwDFQAAAAAdAAAAABAE" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plots.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <!-- Alert Container -->
    <div id="alert-container"></div>

    <!-- Main Content -->
    <div class="mt-4" style="min-height: 650px;">
        <!-- Holders -->
        <div class="my-5 bg-light p-3 rounded shadow" style="min-height: 300px; position: relative;">
            <!-- Fixed Button -->
            <button class="fixed-btn" onclick="togglePopup(true)">
                <i class="fa-solid fa-list-ul" style="font-size: 20px;"></i>  
            </button>
            <button class="fixed-btn-reload" onclick="window.location.reload()">
                <i class="fa-solid fa-rotate-right" style="font-size: 20px;"></i>
            </button>

            <!-- Title -->
            <h2 class="text-center mb-4 in-row-center">
                <i class="fa-solid fa-cubes"></i> 
                <span class="ml-2">
                    Multidimensional Visualization
                </span>
            </h2>

            <!-- Description -->
            <p style="text-align: justify;">
                Hello, and welcome to the Laptop Prices Dataset Analysis. The purpose of this lab is to explore and visualize complex multidimensional data in a meaningful way.
                You can select the type of plot you want to generate from the list below.
                Also, you can customize the plot by changing the line color, plot color, and tickness.
                Read more about the dataset by clicking the info button on the top right corner.
            </p>

            <!-- Select -->
            <div class="d-flex justify-content-center my-5">
                <select id="plot-type" class="form-control form-control-sm w-50 rounded custom-select">
                    <option value="data-mds">Data MDS Plot</option>
                    <option value="variables-mds">Variables MDS Plot</option>
                    <option value="pcp">Parallel Coordinates Plot</option>
                </select>
            </div>

            <!-- SVGs for Charts -->
            <div id="pcp-setting" class="d-flex justify-content-center" style="display: none;">
                <button class="btn btn-sm bg-purple pcp-settings mx-1 in-row-center" onclick="pcpPlot()">
                    <i class="fa-solid fa-align-left"></i>
                    <span class="ml-2">
                        Original Ordering
                    </span>
                </button>
                <button class="btn btn-sm bg-purple pcp-settings mx-1 in-row-center" onclick="pcpPlot(orderType='correlations')">
                    <i class="fa-solid fa-chart-line"></i>
                    <span class="ml-2">
                        Correlations Ordering
                    </span>
                </button>
                <button class="btn btn-sm bg-purple pcp-settings mx-1 in-row-center" onclick="pcpPlot(orderType='customize')">
                    <i class="fa-solid fa-sort"></i>
                    <span class="ml-2">
                        Customize Ordering
                    </span>
                </button>
            </div>
            <div class="d-flex justify-content-center mb-4 mt-4 pt-4">
                <svg id="plot"></svg>
            </div>

            <!-- Options -->
            <div class="options options-small shadow">
                <div>
                    <input type="checkbox" id="toggle-titles" class="mr-2" checked />
                    <label for="toggle-titles">Titles</label>
                </div>
                <div>
                    <input type="checkbox" id="toggle-grids" class="mr-2" checked />
                    <label for="toggle-grids">Grids</label>
                </div>
                <div>
                    <input type="checkbox" id="toggle-labels" class="mr-2" checked />
                    <label for="toggle-labels">Labels</label>
                </div>
                <div>
                    <input type="number" id="tickness" class="mr-2" min="1" max="4" value="2" style="width: 30px;" />
                    <label for="toggle-grids">Tickness</label>
                </div>
                <div>
                    <input type="color" id="line-color-picker" class="mr-2" style="width: 30px;" value="#1e00ff" />
                    <label for="line-color-picker">Line Color</label>
                </div>
                <div>
                    <input type="color" id="plot-color-picker" class="mr-2" style="width: 30px;" value="#1e00ff" />
                    <label for="plot-color-picker">Plot Color</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup -->
    <div class="popup" id="popup">
        <button class="btn btn-danger shadow close-btn" onclick="togglePopup(false)">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <h2>
            <i class="fa-solid fa-info-circle"></i> About
        </h2>
        <p style="text-align: justify;">
            This dataset is a refined version of the well-known Laptop Price dataset, designed to offer a comprehensive collection of information on various laptops, facilitating detailed analysis of their specifications and pricing. It consists of 23 columns containing both numerical and categorical values.  
            The original dataset was highly compact, with extensive details embedded within each column. While this format was human-readable and concise, it was not optimal for Machine Learning algorithms, which perform better when distinct attributes are stored in separate columns. To enhance efficiency, the dataset was restructured by extracting individual details into separate fields. As a result, 28 duplicate rows were identified and removed, leading to the finalized version presented here.
            From the 23 columns, the categorical columns with only Yes or No values were dropped. The dataset is available in CSV format and can be downloaded from the link below.
        </p>
        <p>Source: <a href="https://www.kaggle.com/datasets/owm4096/laptop-prices" target="_blank">Laptop Prices Dataset on Kaggle</a></p>
        <ul class="list-group">
            <li class="list-group-item">
                Inches: The size of the laptop screen in inches.
            </li>
            <li class="list-group-item">
                Ram: The amount of Random Access Memory (RAM) in the laptop.
            </li>
            <li class="list-group-item">
                Weight: The weight of the laptop in kilograms.
            </li>
            <li class="list-group-item">
                Price: The price of the laptop in US dollars.
            </li>
            <li class="list-group-item">
                ScreenW: The width of the laptop screen in pixels.
            </li>
            <li class="list-group-item">
                ScreenH: The height of the laptop screen in pixels.
            </li>
            <li class="list-group-item">
                CpuSpeed: The speed of the laptop's Central Processing Unit (CPU) in GHz.
            </li>
            <li class="list-group-item">
                PrimaryStorage: The size of the laptop's primary storage in gigabytes.
            </li>
            <li class="list-group-item">
                SecondaryStorage: The size of the laptop's secondary storage in gigabytes.
            </li>
        </ul>
    </div>
    <div class="faded" id="fade"></div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/handlers.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/plots.js') }}"></script>
</body>
</html>
