.bg-purple {
    background-color: var(--light-gray) !important;
}

.bg-purple:hover {
    background-color: var(--primary-color) !important;
    color: var(--white-text-color) !important;
}

.custom-select {
    display: flex;
    align-items: center;
}

.custom-select option {
    display: flex;
    align-items: center;
}

.custom-select option i {
    margin-right: 8px;
}
