/* Basic css settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom right, #fff, #99ceff);
}

/* Global classes */
.range-container {
    text-align: center;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background-color: #007bff;
    color: white;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    margin: 20px;
}

.toolbar:hover {
    background-color: #006de1;
}

.toolbar-content {
    position: absolute;
    top: 55px; /* adjust this value to match the height of the .toolbar element */
    left: 20px;
    width: 300px;
    overflow: hidden;
    height: 0;
    transition: all 1s ease;
    background-color: #f8f9fa;
    font-size: 14px;
}

.toolbar-content.show {
    padding: 5px;
    height: 180px;
}

.icon-arrow-down::before {
    content: '▼';
    float: right;
}

.icon-arrow-up::before {
    content: '▲';
    float: right;
}

.btn-circle {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center !important;
    align-self: center !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 17px !important;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}
