/* basic css settings */
body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin: 20px;
}

.bar {
    fill: steelblue;
}
.bar:hover {
    fill: orange;
}
.axis-label {
    font-size: 14px;
}
